/* $Id: admin.css,v 1.1.2.1 2010/05/30 13:19:33 gordon Exp $ */

#ec-charge-categories {
  width: 150px;
  float: left;
  height: 98%;
  padding-bottom: 1em;
}

#ec-charge-categories-wrapper {
  height: 100%;
}

#ec-charge-categories-wrapper .item-list ul {
  list-style: none;
  list-style-position: outside;
}

#ec-charge-components {
  margin-left: 155px;
}

#ec-charge-compaonets-wrapper {
  width: 100%;
}

#left-container {
  padding-right: 0.5em;
  width: 48.5%;
}

#right-container {
  float: right;
  margin: 0;
  padding: 0 0 0 0.5em;
  width: 48.5%;
}

.ec-charge-hidden {
  display: none;
}

.form-item-inline {
}

.form-item-inline div {
}

