/**
 * $Id: checkout.css,v 1.1.2.1 2010/05/30 13:19:33 gordon Exp $
 */

.ec-inline-form {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ec-inline-form div.form-item, .ec-inline-form .form-submit {
  display: inline;
}

.ec-inline-form .form-submit {
  margin-top: 0;
  margin-bottom: 0;
}
