/* $Id: ec_checkout_form.css,v 1.1.2.2 2010/12/14 01:39:26 gordon Exp $ */

.ec-checkout-review-form-quantity,
.ec-checkout-review-form-price,
.ec-checkout-review-form-subtotal {
  text-align: right;
  padding-right: 1em;
}

.ec-checkout-review-form-quantity input {
  text-align: right;
  padding-right: 2px;
}

.ec-checkout-review-form-row-subtotal .ec-checkout-review-form-title,
.ec-checkout-review-form-row-total .ec-checkout-review-form-title {
  font-weight: bold;
}

