/* $Id: paypal.css,v 1.1.2.2 2010/12/14 03:24:04 gordon Exp $ */

#ec-receipt-form  .rtype-paypal-basic {
  vertical-align: middle;
  font-size: smaller;
  line-height: 33px;
}

img.paypal-logo {
  vertical-align: middle;
  margin-right: 0.5em;
}
