/* $Id: invoice.css,v 1.1.2.2 2010/12/16 11:55:58 gordon Exp $ */

.invoice h1 {
  text-align: center;
  border: solid 1px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.invoice .invoice-addresses {
  margin-top: 10px;
  margin-bottom: 10px;
}

.invoice.not-shippable .invoice-addresses #shipping-address {
  display: none;
}

.invoice .invoice-addresses .address {
  float: left;
  padding: 10px;
  width: 45%
}

.invoice .invoice-details .item-quantity {
  text-align: right;
}

.invoice .invoice-details .item-price {
  text-align: right;
  font-weight: bold;
}

.invoice .invoice-details .subtotal-title {
  font-style: italic;
}

.invoice .invoice-details .total-title {
  font-weight: bold;
}

.invoice .invoice-details .total-amount,
.invoice .invoice-details .subtotal-amount {
  text-align: right;
  font-weight: bold;
}

.invoice .invoice-details .total-amount {
  border-top: solid 1px;
}
