/**
 * $Id: customer.css,v 1.1.2.1 2010/05/30 13:19:33 gordon Exp $
 */

.customer-addresses {
  width: 100%;
  float: left;
}

.customer-addresses select, .customer-address input.form-text {
  max-width: 100%
}

.shippable .customer-address {
  width: 49%;
  float: left;
}


