/* $Id: product.css,v 1.1.2.1 2010/05/30 13:19:34 gordon Exp $ */

label.option dt, div.description {
  margin-left: 2em;
}

.price {
  float: right;
  clear: right;
  width: 100px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 4px;
}