/**
 * $Id: admin.css,v 1.1.2.1 2010/05/30 13:19:34 gordon Exp $
 */
#ec-receipt-admin-rtypes-form .item-list li {
  white-space: normal;
}

#ec-admin-rtypes ,dragable td:first {
  white-space: nowrap;
}
