/* $Id: cart-view.css,v 1.1.2.3 2010/12/14 02:25:16 gordon Exp $ */

#ec-cart-view-page .ec-cart-quantity,
#ec-cart-view-page .ec-cart-price,
#ec-cart-view-page .ec-cart-total {
  text-align: right;
  padding-right: 1em;
}

#ec-cart-view-page .ec-cart-quantity input {
  text-align: right;
  padding-right: 2px;
}