/* $Id: cart.css,v 1.1.2.5 2010/12/06 02:05:36 gordon Exp $ */

#block-ec_cart-0 h2 a,
#block-ec_cart-0 .title a {
  background: url(../images/cart.png) no-repeat scroll right center;
  display: block;
}

.block-cart .ec-item-count, .items, .total, .checkout, .ec-cart-line-total {
  font-size: 0.9em;
}

.ec-cart-item-wrapper .ec-cart-item {
  float: left;
}

.ec-cart-item-wrapper .ec-cart-line-total {
  float: right;
}

.ec-cart-items .total {
  border-top: 1px solid #999;
  float: right;
  font-weight: bold;
}

.block-cart .ec-checkout {
  text-align: right;
}

.product-table {
  width:100%;
}

.product-table td {
  vertical-align:top;
  padding:10px;
}

